name: Docker

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    name: Build and Run
    runs-on: ubuntu-latest

    steps:
      - name: Clone repositories
        run: |
            git clone https://github.com/ostis-ai/sc-machine.git && cd sc-machine && git checkout feature/component_manager && git submodule update --init --recursive && cd sc-tools/sc-component-manager && git pull origin pull/${{ github.event.number }}/head


      - name: Run the Docker image
        run: |
          cd sc-machine
          mkdir kb
          DOCKER_BUILDKIT=1 docker build . -t ostis/sc-machine:latest
          docker compose up -d --wait
