name: Tests

on:
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  run_tests:
    name: ${{ matrix.os }}, ${{ matrix.build_type }}, ${{ matrix.file_memory }}, ${{ matrix.config.cxx }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-20.04, ubuntu-22.04]
        file_memory: ["Dictionary"]
        build_type: ["Debug", "Release"]
        config:
          - { cc: "gcc", cxx: "g++" }

    steps:
      - name: Clone repositories
        run: |
            git clone https://github.com/ostis-ai/ostis-web-platform
            cd ostis-web-platform 
            git checkout feature/component_manager
            git submodule update --init --recursive 
            cd scripts
            ./prepare.sh no_build_sc_machine
            cd ../sc-machine   
            git checkout component_manager
            cd sc-tools/sc-component-manager
            git fetch origin pull/${{ github.event.number }}/head:pr 
            git checkout pr
      

      - name: Restore build caches
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.os }}-${{ matrix.config.cxx }}-${{ matrix.build_type }}-${{ matrix.file_memory }}   

      - name: Build
        id: run_cmake
        env:
          CC: ${{ matrix.config.cc }}
          CXX: ${{ matrix.config.cxx }}
          FILE_MEMORY: ${{ matrix.file_memory }}
          BUILD_TYPE: ${{ matrix.build_type }}
          COVERAGE: OFF
          SANITIZER_TYPE: none
        run: cd ostis-web-platform/sc-machine && scripts/ci/make-tests.sh

      - name: Run tests
        id: run_tests
        run: cd ostis-web-platform/sc-machine && scripts/ci/run-tests.sh

      - name: Run sc-component-manager
        id: run_sc_component_manager
        run: |
          cd ostis-web-platform/sc-machine/scripts
          ./run_sc_component_manager.sh -c ../../ostis-web-platform.ini -b ../../repo.path
