name: Style

on:
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check_pr_commits:
    name: Check commit messages
    runs-on: ubuntu-latest

    steps:
      - name: GS Commit Message Checker
        # You may pin to the exact commit or the version.
        # uses: GsActions/commit-message-checker@9d8708beab99f811c5fe3a4f98acc4b2f2ba8496
        uses: GsActions/commit-message-checker@v1
        with:
          # A regex pattern to check if a commit message is valid.
          pattern: "((\\[(init|kb|search|utils|install|keynodes|downloader|review|refactor|changelog|docs|scripts|ci|git|cmake|tests)\\])+(.)+)|(Review fixes)$"
          # Expression flags change how the expression is interpreted.
          flags: # optional, default is gm
          # A error message which will be returned in case of an error.
          error: "One of commit messages or PR title have incorrect formatting. Please read the documentation: https://github.com/ostis-ai/sc-component-manager/blob/main/docs/dev/CONTRIBUTING.md"
          # Setting this input to true will exclude the Pull Request title from the check.
          excludeTitle: true # optional, default is false
          # Setting this input to true will exclude the Pull Request description from the check.
          excludeDescription: true # optional, default is false
          # Setting this input to true will check all Pull Request commits
          checkAllCommitMessages: true # optional, default is false
          # you must provide GITHUB_TOKEN to this input if checkAllCommitMessages is true
          accessToken: ${{ secrets.GITHUB_TOKEN }} # optional, default is false

  check_formatting:
    name: Check formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checking the code with clang
        run: |
            git clone https://github.com/ostis-ai/sc-machine.git 
            cd sc-machine 
            git checkout component_manager 
            git submodule update --init --recursive 
            cd sc-tools/sc-component-manager 
            git pull origin pull/${{ github.event.number }}/head 
            cd ../../scripts
            ./install_deps_ubuntu.sh --dev && ./install_sc_component_manager_dependencies.sh && ./build_sc_machine.sh -cm
            cd ../
            ./scripts/clang/check_formatting.sh
